<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.descendant.accents.XDOrange"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:category="android.theme.customization.accent_color" android:priority="1"/>

    <application android:label="XDOrange" android:hasCode="false"/>
</manifest>
