<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.descendant.elGoogDeskClock"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.google.android.deskclock"
     android:targetName="Google Clock" android:isStatic="true"
       android:priority="1" />

</manifest>
